body {
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}

ul.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fbb72c;
  font-weight: 550;
  padding-left: 0px;
}
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  @media (max-width: 768px) {
    padding: 0rem;
    font-size: 14px;
  }
}

ul.nav li:hover {
  background: #f3c25f;
}
ul.nav li.active {
  background: #fbb72c;
  padding: 1rem;
}
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
